<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269425656719-3tp37co69jv8ppk3alfuf8bjvamjjbbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269425656719-3tp37co69jv8ppk3alfuf8bjvamjjbbi</string>
	<key>API_KEY</key>
	<string>AIzaSyBCFEUFhMwUFzTMCNdUzlkIkEcku2LZuys</string>
	<key>GCM_SENDER_ID</key>
	<string>269425656719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dashinside.knowledge</string>
	<key>PROJECT_ID</key>
	<string>dash-inside-knowledge-store</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-inside-knowledge-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269425656719:ios:ce85c3701fcc96ffa7c1fa</string>
</dict>
</plist>